---
import Container from "@components/container.astro";
import FooterAd from "@components/footerad.astro";
import { Repertorio } from "@components/react/Repertorio";
import Search from "@components/search.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title={'Repertório'} 
  og={{
    basic: {
      title: `Repertório - Canta Igreja`
    },
  }}
>
  <Container>
    <Search />
    <Repertorio client:visible />
    <FooterAd />
  </Container>
</Layout>
