---
const { label, compositores } = Astro.props;
---

<style>
li {
  display: inline-block;
}
</style>

{ compositores.length > 0 && <div class="flex">
  <div>{label}:</div>
  <ul>
    {compositores.map((compositor, index) => (
      <li class="ml-1"><span data-pagefind-filter="compositor">{compositor}</span>{(index + 1) < compositores.length ? ';' : ''}</li>
    ))}
  </ul>
</div>
}