---
import Picture from "astro/components/Picture.astro";
import Link from "./ui/link.astro";
import googlePlay from "assets/GetItOnGooglePlay_Badge_Web_color_Portuguese-BR.png";
import { dados } from "@utils/dados";
import { config } from "@utils/config";
---

<div id="cta"
  class="scroll-mt-[72px] bg-blue-950 p-8 md:px-20 md:py-16 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-5xl mb-2 tracking-tight">
    <!-- A música católica que você ama, sem internet -->
    <!-- Leve a música católica para onde você for -->
    Leve a música católica para onde for
  </h2>
  <p class="text-slate-50 mt-4 text-lg md:text-xl">
    Tenha mais de {dados.totalMusicas} letras de músicas católicas sempre ao seu alcance, <br class="hidden md:inline"/> sem precisar de internet.
    <!-- Baixe gratuitamente. -->
  </p>
  <p class="text-slate-50 mt-4 text-lg md:text-xl">
    Baixe gratuitamente.
  </p>
  <div class="flex mt-6 md:mt-12">
    <a
      href={config.download.android}
      target="_blank"
      rel="noopener">
      <Picture
        src={googlePlay}
        alt="Baixar aplicativo no Google Play (Android)"
        widths={[200, 400, 600]}
        height={googlePlay.height*.8}
        loading="eager"
        format="avif"
        loading="lazy"
      />
    </a>
  </div>
</div>
