---
import Button from "./ui/button.astro";

// import Headline from '~/components/ui/Headline.astro';
// import ItemGrid from '~/components/ui/ItemGrid.astro';
// import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
// import type { Faqs as Props } from '~/types';
// import { twMerge } from 'tailwind-merge';

const {
  title = 'Dúvidas Frequentes',

  items = [
    {
    title: 'Não encontrei a versão para iOS / iPhone. Quando estará disponível?',
    description:
      `Apesar da versão do aplicativo para iOS estar quase pronta, a publicação dele
na Apple Store <a href="https://developer.apple.com/br/support/enrollment/" class="underline" target="_blank" rel="noopener">requer uma assinatura anual de USD 99.00</a>
(algo em torno de 500 reais por ano).
Ainda estamos procurando formas de tornar a publicação financeiramente viável. Caso tenha alguma sugestão, por favor, contate-nos.`,
    },
    {
    title: 'Como eu faço para baixar músicas novas?',
    description:
      `De tempos em tempos, um conjunto de músicas selecionadas são incluídas.
Confira se há algum atualização abrindo o aplicativo e acessando a Biblioteca (aba do lado esquerdo).`,
    },
    {
      title: 'Eu posso adicionar minhas próprias músicas?',
      description:
        `No momento, não é possível que o usuário adicione músicas diretamente no aplicativo.
        Entretanto, pessoas com habilidades de programação podem enviar contribuições (<em lang='en'>pull request</em>) através do 
        <a href="https://gitlab.com/canta-igreja/canta-igreja" class="underline" target="_blank" rel="noopener">repositório de código</a> do projeto.`,
    },
    {
    title: 'Encontrei um erro em uma letra, como faço para sugerir uma correção?',
    description:
       `Na tela da letra da música, abra o menu lateral por meio do botão com desenho de catraca presente no canto superior direito.
       Aparecerá uma opção \"Relatar problema\".`,
    },
    {
    title: 'Notei que algumas músicas não possuem a atribuição do compositor, como faço para sugerir uma correção?',
    description:
       `Algumas informações como os compositores de cântico podem estar incompletas,
       mas estamos continuamente trabalhando para atualizar e melhorar nossa base de dados.<br />Você pode recomendar uma correção:
       na tela da letra da música, abra o menu lateral por meio do botão com desenho de catraca presente no canto superior direito. Aparecerá uma opção \"Relatar problema\"`,
    },
    {
      title: 'Existe alguma funcionalidade paga?',
      description:
       `Não, o aplicativo é completamente gratuito.
       Também não possui propagadas, exceto as que falam das funcionalidades do próprio app : )
       `,
    },
    {
      title: 'É necessário internet para utilizar o aplicativo?',
      description:
       `Algumas funcionalidades, como o acesso a vídeos no YouTube, o compartilhamento de repertório, a geração de livreto e o download de novas músicas, requerem conexão à internet.`,
    },
    {
      title: 'Qual o motivo de precisar estar logado em uma conta Google ao compartilhar um repertório?',
      description:
       `<p class="text-muted text-slate-500">Ao compartilhar um repertório, será gerado um link do repertório.
       As pessoas que você compartilhar este link poderão ver as músicas sem precisar ter o aplicativo instalado no celular.</p>

       <p class="text-muted text-slate-500">Para permitir o compartilhamento com link e evitar mau uso da aplicação, foi necessário incluir a etapa de login.
       Entretanto, desejamos que no futuro seja possível realizar <em>backups</em> (cópias de segurança) online dos repertórios.</p>

       <p class="text-muted text-slate-500">Escolhemos inicialmente integrar com a conta Google, então utilize endereços de e-mail <code>@gmail.com</code> para se autenticar.</p>`,
    },
  ],

  isDark = false,
} = Astro.props;
---


<div id="faq" class="relative not-prose scroll-mt-[72px]">
  <div
    class:list={[
      ('relative mx-auto py-12 md:py-16 lg:py-20 text-default'),
      { dark: isDark },
    ]}
  >
    <h2 class="text-3xl md:text-4xl lg:text-5xl font-semibold leading-snug tracking-tight mt-1 text-slate-800">
      {title}
    </h2>
    
    {items.map(({title, description}) => (
      <details class="mt-4 ml-0 md:ml-4">
        <summary class="cursor-pointer text-xl lg:text-2xl font-bold text-slate-800">{title}</summary>
        <p class="mt-1 text-muted text-slate-500" set:html={description} />
      </details>
    ))}
  </div>
</div>
