---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Totalmente gratuito",
    description:
      `Acesse a letra de músicas cantadas em missas, encontros, celebrações e grupos de oração sem custo!`,
    icon: "bx:money-withdraw",
  },
  {
    title: "Busca inteligente",
    description:
      "Você só lembra do refrão? Sem problema! Busque uma música por qualquer parte da letra.",
    icon: "bx:search-alt",
  },
  {
    title: "Não precisa de internet",
    description:
      "As letras ficam salvas no seu celular. Evite ligar a internet e receber notificações barulhentas em um momento inoportuno.",
    icon: "bx:wifi-off",
  },
  {
    title: "Repertório",
    description:
      `Crie e salve listas de músicas. Compartilhe no WhatsApp ou crie um folheto com as músicas para impressão.`,
    icon: "bx:bxs-playlist",
  },
  {
    title: "Aprenda as músicas",
    description:
      "Diversas músicas possuem vídeos do YouTube para você aprender a melodia e a letra. Necessário conexão com a internet.",
    icon: "bx:bxl-youtube",
  },
  // {
  //   title: "Livros com esta música",
  //   description:
  //     "Descubra quais os livros de cântico possuem suas músicas preferidas. Apoie as editoras adquirindo esses livros.",
  //   icon: "bx:bxs-bot",
  // },
  // {
  //   title: "Informações sobre os compositores",
  //   description:
  //     "Conheça quais são os inspirados compositores por detrás das suas músicas favoritas. Estamos constantemente atualizando nosso banco de dados para oferecer todas as informações necessárias.",
  //   icon: "bx:bxs-bot",
  // },
];
---

<div id="funcionalidades" class="md:mt-0 scroll-mt-[72px]">
  <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold lg:tracking-tight text-slate-900">
    Por que o Canta Igreja?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Com base nas necessidades do dia-a-dia de quem canta e faz música na igreja, preparamos um app
    com aquilo que é preciso:
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-4 lg:gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <Icon class="mt-1 bg-blue-500 rounded-full p-2 w-8 h-8 md:w-10 md:h-10 shrink-0 text-white" name={item.icon} />
        <div>
          <h3 class="font-semibold text-2xl text-slate-800">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
