---
import googlePlay from "assets/GetItOnGooglePlay_Badge_Web_color_Portuguese-BR.png";
import { Picture } from "astro:assets";
import { dados } from "@utils/dados";
import { config } from "@utils/config";

const { titulo } = Astro.props;

const chamada = titulo
  ? `"${titulo}" e a mais de`
  : "a mais de"
---
<div 
  class="text-slate-100 md:text-center md:text-slate-700 scroll-mt-[72px] bg-blue-950 md:bg-blue-100 p-4 md:px-20 md:py-8 mt-4 md:mt-20 mx-auto max-w-5xl rounded-lg"
  data-pagefind-ignore>
  Acesse {chamada} {dados.totalMusicas} letras de músicas católicas.
  Gratuitamente, sem precisar de internet, sem propagandas.<br />Baixe o app <strong>Canta Igreja</strong>:
  <div class="flex mt-4 items-center md:items-start justify-around">
    <a
      href={config.download.android}
      target="_blank"
      rel="noopener">
      <!-- <strong class="md:hidden text-slate-200 text-2xl md:text-4xl mr-4">Canta Igreja</strong> -->
      <Picture
        src={googlePlay}
        alt="Disponível no Google Play"
        widths={[200, 400, 600]}
        height={googlePlay.height *.6}
        loading="lazy"
        format="avif"
      />
    </a>
  </div>
</div>