---
import Picture from "astro/components/Picture.astro";
import { Icon } from 'astro-icon/components'
import icone from "../assets/icone.png"
---

<footer data-pagefind-ignore class="mt-10 mb-2">
  <div class="flex justify-center items-center mb-4">
    <Icon name="icone-novo" size={150} />
    <!-- <Picture
      src={icone}
      alt="Ícone do aplicativo"
      loading="lazy"
      format="avif"
      height={150}
    /> -->
  </div>
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Canta Igreja. Todos os direitos reservados.
  </p>
  <!--
    Can we ask you a favor 🙏
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  -->
  <p class="text-center text-xs text-slate-500 mt-10">
    Template baseado no <strong>Astroship</strong>, feito por <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p>
</footer>
