---
import { Picture } from "astro:assets";

import tela1 from "assets/tela-1.png";
import tela2 from "assets/tela-2.png";
import tela3 from "assets/tela-3.png";
import googlePlay from "assets/GetItOnGooglePlay_Badge_Web_color_Portuguese-BR.png";
import { dados } from "@utils/dados";
import { config } from "@utils/config";

const screens = [tela1, tela2, tela3];
const itemTime = 6;
const totalItems = screens.length;
---

<!-- https://www.devtwins.com/blog/css-cross-fading-images -->
<style define:vars={{ itemTime, totalItems }}>
.fade-container {
  position: relative;
  height: 600px;
}
.fade-item {
  --total-time: calc(var(--itemTime) * var(--totalItems));

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: -151px;
  right: 0px;
  text-align: center;
  animation: fade calc(var(--total-time) * 1s) infinite;

  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

  animation-delay: calc(var(--total-time) * 1s - var(--itemTime)*var(--item) * 1s);
  
  max-width: initial;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block fade-container">
    
    {
      screens.map((screen, i) => {
        const rawStylesCSS = `
          #fade-item-${i} {
              --item: ${i};
          }
        `;
        return <>
          <style is:inline set:html={rawStylesCSS}></style>
          <Picture
            id={`fade-item-${i}`}
            class="fade-item"
            src={screen}
            alt="Tela exemplo do aplicativo"
            widths={[400, 600]}
            sizes="(max-width: 800px) 100vw, 620px"
            loading="eager"
            format="avif"
            height={600}
          />
        </>
    })
  }
  </div>
  <div>
    <h1
      class="text-4xl md:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Canta Igreja<span class="text-2xl md:text-5xl">,<br />músicas católicas no seu bolso</span>
      <!-- Canta Igreja<br /> Sua biblioteca de músicas católicas no seu bolso -->
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Tenha acesso a mais de <strong>{dados.totalMusicas}</strong> letras de músicas cantadas em missas, encontros, celebrações e grupos de oração.<wbr /> Gratuitamente, sem precisar de internet.

      <!-- Ajuste a fonte e destaque os refrões para facilitar a leitura, crie repertórios e compartilhe no WhatsApp.
      Aprenda novas músicas com links do YouTube integrados  -->

      <!-- Ideal para missas, encontros, celebrações e grupos de oração, o Canta Igreja é a sua perfeita para momentos de fé e devoção. -->
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <a
        href={config.download.android}
        target="_blank"
        rel="noopener">
        <Picture
          src={googlePlay}
          alt="Disponível no Google Play"
          widths={[200, 400, 600]}
          height={googlePlay.height *.6}
          loading="eager"
          format="avif"
        />
      </a>
      <!-- <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link> -->
    </div>
  </div>
</main>
