---
---
<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>

<style is:global>
#search .pagefind-ui__search-input::placeholder {
  opacity: 1 !important;
  color: #9ca3af !important; 
}
#search .pagefind-ui__filter-panel {
  @apply hidden md:flex;
}
#search .pagefind-ui__result {
  padding: 1em 0;
}
#search .pagefind-ui__result-inner {
  margin: 0;
}
</style>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    const search = new PagefindUI({
      element: "#search",
      showSubResults: true,
      showImages: false,
      translations: {
        "placeholder": "Pesquisar música por trecho ou autor",
        "zero_results": `Nenhum resultado encontrado para "[SEARCH_TERM]"`,
        "many_results": `[COUNT] resultados encontrados para "[SEARCH_TERM]"`,
        "one_result": `[COUNT] resultado encontrado para "[SEARCH_TERM]"`,
        "alt_search": `Nenhum resultado encontrado para "[SEARCH_TERM]". Exibindo resultados para "[DIFFERENT_TERM]"`,
        "search_suggestion": `Nenhum resultado encontrado para "[SEARCH_TERM]". Tente uma das seguintes pesquisas:`,
        "searching": `Pesquisando por "[SEARCH_TERM]"...`
      },
      processResult: function (result) {
        if (window.location.pathname.startsWith("/musicas")) {
          result.meta.image = `${window.location.origin}/og${result.url.replace(/\/$/, "")}.webp`;
        }
        
        return result;
      }
    });

    search.triggerFilters({
      "Conteúdo do site": "Música"
    });
  });
</script>

<div id="search" class="lyric-text mx-auto max-w-3xl mt-4 md:mt-14"></div>