@tailwind base;


@layer base {
  h1 {
    @apply text-5xl mb-4;
  }
  h2 {
    @apply text-3xl my-2;
  }
  h3 {
    @apply text-lg my-2;
  }
  /* a {
    @apply text-blue-600 underline;
  } */
  p {
    @apply my-2;
  }
}

  
@tailwind components;
@tailwind utilities;