---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

import "../assets/base.css"
import { dados } from "@utils/dados";
import { config } from "@utils/config";


export interface Props {
  title: string;
  og?: {
    basic?: {
      url?: string
      title: string
      image?: string
    },
    image?: {
      alt: string
    }
  }
  preview?: {
    title: string,
    lyric: string
  }
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/og.webp",
  Astro.site
).toString();

const { title, og, preview } = Astro.props;

const makeTitle = title
  ? `${title} - Canta Igreja`
  : "Canta Igreja - Músicas católicas no seu bolso";
---

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      title={makeTitle}
      description=`Canta Igreja - Aplicativo para acessar mais de ${dados.totalMusicas} músicas religiosas católicas sem precisar de internet.`
      canonical={canonicalURL}
      openGraph={
        {
          basic: {
            url: canonicalURL,
            type: "website",
            title: `Canta Igreja - Tenha acesso a mais de 1500 letras de músicas cantadas em missas, encontros, celebrações e grupos de oração. Gratuitamente, sem precisar de internet.`,
            image: resolvedImageWithDomain,
            ...(og?.basic ?? {})
          },
          image: {
            alt: "Canta Igreja - Músicas católicas no seu bolso",
            ...(og?.image ?? {})
          },
        }
      }
    />
    {preview && <>
      <meta property="preview:title" content={preview.title} />
      <meta property="preview:lyric" content={preview.lyric} />
    </>}
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>

  <script
    src="https://js.sentry-cdn.com/5533dafe23e1396ff4a79527661be2a6.min.js"
    crossorigin="anonymous"
  ></script>
  </body>
</html>
