---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <Container>
    <div class="mx-auto max-w-3xl mt-4 md:mt-14">
      <slot />
    </div>
  </Container>
</Layout>
