---
import Compositores from "@components/compositores.astro";
import Container from "@components/container.astro";
import Search from "@components/search.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { YouTube } from 'astro-embed';

import googlePlay from "assets/GetItOnGooglePlay_Badge_Web_color_Portuguese-BR.png";
import { Picture } from "astro:assets";
import { dados } from "@utils/dados";
import { config } from "@utils/config";
import { encodeQueryData } from "@utils/linking";
import FooterAd from "@components/footerad.astro";

// import "@fontsource/libre-baskerville";
// import "@fontsource/libre-baskerville/700.css";

/**
 * @param text https://gist.github.com/tarciozemel/ab483d44fb5333b866220a861d7114d3
 */
export function slugify(text: string) {
  return text.toString().toLowerCase().trim()
	.normalize('NFD') 				 // separate accent from letter
	.replace(/[\u0300-\u036f]/g, '') // remove all separated accents
	.replace(/\s+/g, '-')            // replace spaces with -
	.replace(/&/g, '-and-')          // replace & with 'and'
	.replace(/[^\w\-]+/g, '')        // remove all non-word chars
	.replace(/\-\-+/g, '-')          // replace multiple '-' with single '-'
}

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const entries = await getCollection("musicas");

  return entries.map((entry) => [
    // {
    //   params: { slug: `${entry.slug}-${slugify(entry.data.Título)}` },
    //   props: { entry },
    // },
    {
      params: { slug: entry.slug },
      props: { entry },
    },
  ]).flat();
}

// Get the entry directly from the prop on render
const { entry } = Astro.props;
const { Content } = await entry.render();

const hasCompositor = entry.data.Compositores.length > 0
                   || entry.data.Letristas.length > 0
                   || entry.data.Musicistas.length > 0;

const params = encodeQueryData({
  prefill_id: `${entry.data.Índice}`,
  'prefill_Nome da música': entry.data.Título,
  'prefill_Início da música': entry.body.slice(0, 50),
});
const errorLink = `https://airtable.com/app9cwHxq1xPzFdBv/pagChDhWwrAF0NSPB/form?${params}`
---
<style>
.lyric-text {
  /* font-family: "Libre Baskerville",
    "Bricolage Grotesque Variable",
    "Inter Variable",
    "Inter"; */
}

.lyric {
  p, li {
    @apply whitespace-pre-line leading-6;
  }
  li:has(> p) {
    @apply whitespace-normal;
  }
  li > p {
    margin-top: 0;
  }
}
</style>

<Layout title={entry.data.Título} 
  og={{
    basic: {
      title: `${entry.data.Título} - Canta Igreja`,
      image: config.og.image(Astro.site, Astro.url.pathname),
    },
    image: {
      alt: "Início da letra",
    },
  }}
  preview={{
    title: entry.data.Título,
    lyric: entry.body,
  }}
>
  <Container>
    <Search />

    <div
        class="lyric-text mx-auto max-w-3xl mt-4"
        data-pagefind-filter="Conteúdo do site:Música">

      <div class="lyric-header">
        <span data-pagefind-filter="rótulo" class="text-blue-400 uppercase tracking-wider text-sm font-medium">
          {entry.data.Rótulos.join(', ')}
        </span>
        <h1
          class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-1 lg:leading-tight mb-0"
          data-pagefind-meta="title">
          {entry.data.Título}
        </h1>
        <div class="text-gray-500">
          {!hasCompositor && <Compositores label="Composição" compositores={["Desconhecido"]} />}
          <Compositores label="Composição" compositores={entry.data.Compositores} />
          <Compositores label="Letra" compositores={entry.data.Letristas} />
          <Compositores label="Música" compositores={entry.data.Musicistas} />
          {entry.data.Tonalidade && <div>Tonalidade sugerida: <span data-pagefind-filter="tonalidade">{entry.data.Tonalidade}</span></div>}
        </div>
      </div>

      <div class="lyric-text lyric prose prose-lg mt-6">
        <Content />
      </div>

      {entry.data.YouTube.length > 0 && <>
        <div data-pagefind-ignore
             data-pagefind-filter="vídeo:Sim"
             class="mt-8">
          <h2 class="mb-4">Vídeos relacionados</h2>
          {entry.data.YouTube.map(yt => <YouTube id={`https://youtu.be/${yt}`} />)}
        </div>
      </>}

      <div class="mt-8" data-pagefind-ignore><a class="underline" href={errorLink} target="_blank" rel="noopener">Percebeu algum erro? Informe-nos.</a>
    </div>

    <FooterAd titulo={entry.data.Título} />

    <!-- <div class="text-center mt-8">
      <a
        href="/blog"
        class="bg-gray-100 px-5 py-3 rounded-md hover:bg-gray-200 transition"
        >← Back to Blog</a
      >
    </div> -->
  </Container>
</Layout>
